## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## IDE
.vs/
.vscode/
.idea/
*.swp
*~

## OS
.DS_Store
Thumbs.db
